body {
    height: 3000px;
    scroll-behavior: smooth;
    overflow-y: auto;
    font-family: 'Nunito';
    overflow-x: hidden;
}

.nav-link {
    position: relative;
    display: inline-block;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #1d4ed8; /* Warna biru */
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-link.active::after {
    width: 100%;
}

.nav-link:hover::after {
    width: 100%;
}

/* Navigation Swiper */
#nav-btn {
    color: gray;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    /* background-color: #1d4ed8; */
}
#nav-btn::after {
    font-size: 50px;
}
#nav-btn:hover {
    /* background-color: #0056b3; */
}



footer {
    margin-top: 15rem !important;
}